<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/html5reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Pets</title>
</head>
<body>
    <header>
        <a class = "skip-link" href = "#main">Skip to Main Content</a>
        <nav>
            <ul>
                <li><a href = "index.html">Home</a></li>
                <li><a class = "current-page" href = "pets.html">Pets</a></li>
                <li><a href = "recipes.html">Recipes</a></li>
                <li><a href = "travel.html">Travel</a></li>
            </ul>
        </nav>
        <h1 class = "title">Pets</h1>
    </header>
    <div id="reactEntry">
        Loading ...
      </div>
      <!-- Load JavaScript -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script></body>
</html>